* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #131921;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 40px;
    filter: brightness(0) invert(1);
}

.navbar input {
    flex: 1;
    padding: 8px;
    border: none;
}

.navbar button {
    padding: 8px 15px;
    background: #febd69;
    border: none;
    cursor: pointer;
}

/* BANNER */
.banner img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* PRODUCTS */
.products {
    padding: 20px;
    background: #e3e6e6;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0 5px;
}

.card p {
    color: #007185;
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #131921;
    color: white;
    text-align: center;
    padding: 15px;
}


.footer-col a {
    transition: color 0.3s, transform 0.3s;
}

.footer-col a:hover {
    color: #ffffff;
    transform: translateX(5px);
}

.footer-links {
    border-bottom: 1px solid #3a4553;
}

.footer-col h4 {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.footer-top {
    background-color: #37475a;
    text-align: center;
    padding: 14px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}

.footer-top:hover {
    background-color: #485769;
}


.footer {
    background: linear-gradient(to bottom, #232f3e, #131a22);
}


.footer-links {
    padding: 50px 80px;
}

.footer-bottom {
    line-height: 1.6;
}



.footer-col {
    transition: transform 0.3s;
}

.footer-col:hover {
    transform: translateY(-5px);
}